.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 50px; */
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: #f4fdf4; /* Light green */
  clip-path: polygon(0 0, 70% 0, 55% 100%, 0% 100%);

  z-index: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
}

.text {
  max-width: 600px;
}

.text h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.text h1 .highlight-text {
  color: #2ecc71; /* Light green for the word "job" */
}

.text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  /* gap: 10px; */
}

.search-bar input {
  flex: 1;
}
.search-bar .first-input {
  padding: 15px 15px;
  border: 1px solid #ccc;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.search-bar .second-input {
  padding: 15px 15px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 5px 5px;
  background-color: #0dc058;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.image-container {
  /* max-width: 500px; */
  max-width: 400px;
  flex-shrink: 0;
}

.image-container img {
  width: 100%;
  /* height: auto; */
  /* border-radius: 15px; */
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}
.trust-text {
  margin-top: 3rem;
}
.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo .paystack {
  width: 150px;
  height: 33px;
}
.brand-logo .google {
  width: 100px;
  height: 43px;
  margin-left: 1rem;
}

.brand-logo .kmpg {
  width: 75px;
  height: 33px;
  margin-left: 1rem;
}
